@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poly:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poly", serif;

}
.navbar{
    background-color: #FD6569;
    padding: 12px;
}
.container{
    padding: 10px;
}
.book-container{
     padding: 15px;
     width: 25%;
     background-color: #000;
     color: white;
     border-radius: 5px;
     display: inline-block;
     margin: 30px;
     vertical-align: top;


}
.book-container h2{
    color: #FD6569;
}
.book-container button{
    background-color: #FD6569;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}
.add-btn{
    background-color: #FD6569;
    color: #000;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    font-size: 40px;
    bottom: 30px;
    right: 30px;
    border-radius: 100%;
}
.popup-overlay{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    left: 0;
    top: 0;
    z-index: 1;
    position: absolute;
    display: none;

}
.popup-box{
    width: 40%;
    padding: 40px;
    left: 30%;
    top: 20%;
    background-color: #FD6569;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    display: none;
    

}
.popup-box input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 20px;
    border-bottom: solid 2px #000;
    padding: 5px;
    margin: 5px;

}
.popup-box textarea{
    background-color: transparent;
    width: 100%;
    font-size: 20px;
    border: solid 2px #000;
    padding: 5px;
    margin: 5px;

}

.popup-box ::placeholder{
    color: #000;
}
.popup-box button{
    background-color: #000;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    margin: 5px;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}